conda create -n python=3.10
conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
conda install conda-forge::tqdm
conda install conda-forge::prettytable
conda install anaconda::pandas
conda install anaconda::scikit-learn
pip install learn2learn
